name: release

on:
  workflow_dispatch:
    inputs:
      bump_type:
        required: true
        default: 'patch'
        type: choice
        options:
          - major
          - minor
          - patch

jobs:
  release:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Node.jsをインストール
        uses: actions/setup-node@v6
        with:
          node-version: 24
          registry-url: 'https://registry.npmjs.org'

      - name: Bunをインストール
        uses: oven-sh/setup-bun@v2

      - name: Gitのユーザーを設定
        run: |
          git config --local user.name "github-actions[bot]"
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"

      - name: パッケージをビルド
        run: |
          bun install
          bun run build

      - name: package.jsonのexportsを更新
        run: |
          bun scripts/generate-exports.ts
          git add package.json
          git commit -m "exportsを更新"
        continue-on-error: true

      - name: バージョンを更新
        run: |
          npm version ${{ github.event.inputs.bump_type }}
          echo VERSION="v$(cat package.json | jq -r '.version')" >> "${GITHUB_ENV}"

      - name: パッケージを公開
        run: |
          npm publish --provenance --access public

      - name: リポジトリへプッシュ
        run: |
          git push
          git push --tags

      - name: GitHubへリリース
        run: gh release create "${VERSION}" --generate-notes
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
